body{font-family: "Roboto", sans-serif; 
color: #434455;
background-color: #7e9dd6;}

h1, h2, h3, h4, h5, h6, p 
{margin: 0;}

/* common */

.container{max-width: 1158px;
padding: 0 15px;
margin: auto;}


/* Container */
.cookie{
    display: flex;
    background-color: rgb(241, 235, 227);
    width: 600px;
    margin-left: auto; 
    margin-right: auto;
    height: 800px;
    justify-content: center;
    margin: 50px auto 0 auto;
}

.content-wrapper {
    display: flex;
    flex-direction: column; 
    }    

.bluecookie{
    display: flex;
    background-color: #7e9dd6;
    width: 500px;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap:5px;
    margin: 50px auto 20px auto;
}

/* EYES */

.eyes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 239px; 
    height: 239px;
    background-color: rgb(241, 235, 227);
    border-radius: 50%;
    position: relative;
}

.pupil{
    position: absolute;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(5, 5, 5);
    width: 80px;
    height: 80px;
}


/* TEXT */
.text {
    font-size: 16px; 
    margin-top: 5px; 
}

.text-row1{
font-weight: 1000;
font-size: 80px;
}

.text-row2{
font-size: 20px;
}

.text-row3{
    font-size: 10px;
    padding-top:80px;
}